<div class="container mt-5">
    <h1 class="mb-4">My Profile</h1>
    <div class="d-flex gap-3">
        <div class="card shadow" style="width: 500px; height: 300px;">
            <div class="card-body">
                <h4 class="card-title text-primary mb-3"><%= @user.name %></h4>            
                <p class="card-text">
                    <strong>Email:</strong> <%= @user.email %>
                </p> 
                <p class="card-text">
                </p>
            </div>
        </div>
        <div class="card shadow" style="height: 300px; width: 500px;">
            <div class="card-body">
                <h4 class="card-title text-primary mb-3">Wallet Account</h4>            
                <% @wallets.each_with_index do |wallet, index| %>
                <p class="card-text">
                    <strong><%= index + 1 %>. Wallet Number:</strong> <%= wallet.wallet_number %>
                    <strong>Balance:</strong> <%= number_to_currency(wallet.balance) %>
                </p>
                <% end %>
            </div>
        </div>
</div>
